
NAME : Saurabh Pal

COURSE : Msc.IT

SUBJECT : FDS(Fundamental of Data Science)

ASSIGNMENT 4 (Computer Science Student Data)

In [ ]:
import pandas as pd
df = pd.read_csv('cs_students.csv')
df.head()

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
0,1,John Smith,Male,21,3.5,Computer Science,Artificial Intelligence,Chatbot Development,Machine Learning Researcher,Strong,Strong,Weak
1,2,Alice Johnson,Female,20,3.2,Computer Science,Data Science,Data Analytics,Data Scientist,Average,Strong,Weak
2,3,Robert Davis,Male,22,3.8,Computer Science,Software Development,E-commerce Website,Software Engineer,Strong,Strong,Average
3,4,Emily Wilson,Female,21,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
4,5,Michael Brown,Male,23,3.4,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong

In [ ]:
#1. Read and understand basic properties of data set. (shape, data types)
df.dtypes

Student ID             int64
Name                  object
Gender                object
Age                    int64
GPA                  float64
Major                 object
Interested Domain     object
Projects              object
Future Career         object
Python                object
SQL                   object
Java                  object
dtype: object

In [ ]:
df.shape

(180, 12)

In [ ]:

#2. Identify and drop columns and missing values.
#df.isnull().sum()
df.drop('Student ID', axis=1)
df.drop('Major', axis=1)

,Student ID,Name,Gender,Age,GPA,Interested Domain,Projects,Future Career,Python,SQL,Java
0,1,John Smith,Male,21,3.5,Artificial Intelligence,Chatbot Development,Machine Learning Researcher,1,1,3
1,2,Alice Johnson,Female,20,3.2,Data Science,Data Analytics,Data Scientist,2,1,3
2,3,Robert Davis,Male,22,3.8,Software Development,E-commerce Website,Software Engineer,1,1,2
3,4,Emily Wilson,Female,21,3.7,Web Development,Full-Stack Web App,Web Developer,3,1,1
4,5,Michael Brown,Male,23,3.4,Cybersecurity,Network Security,Information Security Analyst,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...
175,176,Elijah Davis,Male,22,3.7,Web Development,Full-Stack Web App,Web Developer,3,1,1
176,177,Emma Johnson,Female,20,3.6,Cybersecurity,Security Auditing,Information Security Analyst,1,2,3
177,178,Liam Wilson,Male,21,3.4,Machine Learning,Natural Language Processing,Machine Learning Engineer,1,2,3
178,179,Sophia Johnson,Female,22,3.5,Database Management,SQL Database Administration,Database Administrator,3,1,2
179,180,Michael Brown,Male,23,3.7,Cloud Computing,Cloud Solution Architecture,Cloud Solutions Architect,1,1,3

In [ ]:
#3. Identify unique values from given dataset for each column.

df.stack().unique()

array([1, 'John Smith', 'Male', 21, 3.5, 'Computer Science',
       'Artificial Intelligence', 'Chatbot Development',
       'Machine Learning Researcher', 3, 2, 'Alice Johnson', 'Female', 20,
       3.2, 'Data Science', 'Data Analytics', 'Data Scientist',
       'Robert Davis', 22, 3.8, 'Software Development',
       'E-commerce Website', 'Software Engineer', 4, 'Emily Wilson', 3.7,
       'Web Development', 'Full-Stack Web App', 'Web Developer', 5,
       'Michael Brown', 23, 3.4, 'Cybersecurity', 'Network Security',
       'Information Security Analyst', 6, 'Laura Lee', 3.9,
       'Machine Learning', 'Image Recognition',
       'Machine Learning Engineer', 7, 'William Johnson', 3.6,
       'Database Management', 'SQL Query Optimization',
       'Database Administrator', 8, 'Sarah Miller', 'Cloud Computing',
       'AWS Deployment', 'Cloud Solutions Architect', 9, 'James Wilson',
       3.3, 'Mobile App Development', 'Android App',
       'Mobile App Developer', 10, 'Olivia Clark', 'Computer Graphics',
       '3D Rendering', 'Graphics Programmer', 11, 'Andrew Hall',
       'Natural Language Processing', 'NLP Research Scientist', 12,
       'David Jones', 13, 'Elizabeth Williams', 'iOS App', 14,
       'Charles Miller', 'Game Development', 'Game Developer', 15,
       'Susan Davis', 'Software Engineering', 16, 'John Brown', 17, 18,
       19, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
       40, 'Jessica Jones', 'GCP Deployment', 41, 'Peter Parker',
       'Social Media Platform', 42, 'Mary Jane Watson', 43,
       'Harry Osborn', 'iOS Game', 44, 'Gwen Stacy', '3D Animation', 45,
       'Eddie Brock', 46, 'Michelle Williams', 47, 'Flash Thompson', 48,
       'Liz Allan', 49, 'Jason Macendale', 50, 'Fred Myers', 51,
       'Betty Brant', 52, 'Ned Leeds', 'Android Game', 53, 'Silver Sable',
       '3D Modeling', 54, 'Black Cat', 55, 'Venom', 56, 'Carnage', 57,
       'Lizard', 58, 'Electro', 59, 'Sandman', 60, 'Mysterio', 61,
       'Rhino', 62, 'Scorpion', 63, 'Vulture', 64, 'Shocker', 65,
       'Kraven the Hunter', 66, 'Green Goblin', 67, 'Doctor Octopus', 68,
       'Morbius', 69, 70, 'Hydro-Man', 71, 'Kingpin', 72, 'Taskmaster',
       73, 'MODOK', 74, 'AIM', 75, 'Hydra', 76, 77, 'Agent Coulson', 78,
       'Agent Hill', 79, 'Agent Melinda May', 80, 'Agent Daisy Johnson',
       81, 'Agent Simmons', 82, 'Agent Fitz', 83, 'Agent Mack', 84,
       'Agent Bobbi Morse', 85, 'Agent Lance Hunter', 86, 'Oliver Davis',
       'Firewall Management', 'Security Analyst', 87, 'Ava Miller',
       'Deep Learning Models', 88, 'Liam Wilson', 'Data Warehouse Design',
       89, 'Sophia Johnson', 'Embedded Systems',
       'Embedded Software Engineer', 90, 'Front-End Development', 91,
       'Emily Lee', 'Statistical Analysis', 'Data Analyst', 92,
       'William Davis', 'Robotics', 'Robotics Engineer', 93,
       'Olivia Brown', 'Mobile Game Development', 94,
       'Penetration Testing', 'Ethical Hacker', 95, 'Computer Vision',
       'Object Detection', 'Computer Vision Engineer', 96, 'DevOps',
       'DevOps Engineer', 97, 'Bioinformatics', 'Genomic Data Analysis',
       'Bioinformatician', 98, 'IoT (Internet of Things)',
       'Smart Home Automation', 'IoT Developer', 99, 'NLP Engineer', 100,
       'Data Mining', 'Market Analysis', 101,
       'Cloud Migration Specialist', 102, 'Human-Computer Interaction',
       'Usability Testing', 'UX Designer', 103, 'Biomedical Computing',
       'Medical Imaging Analysis', 'Healthcare IT Specialist', 104,
       'Quantum Computing', 'Quantum Algorithm Development',
       'Quantum Computing Researcher', 105, 'Virtual Reality Development',
       'VR Developer', 106, 'Blockchain Technology',
       'Smart Contracts Developer', 'Blockchain Engineer', 107,
       'Information Retrieval', 'Search Engine Optimization',
       'SEO Specialist', 108, 'Data Privacy',
       'Privacy Compliance Officer', 'Data Privacy Specialist', 109,
       'Geographic Information Systems', 'GIS Mapping',
       'Geospatial Analyst', 110, 'Distributed Systems',
       'Distributed Systems Architect', 'Distributed Systems Engineer',
       111, 'Digital Forensics', 'Computer Forensic Analyst',
       'Digital Forensics Specialist', 112,
       'Protein Structure Prediction', 113, 'User Experience Researcher',
       114, 'Healthcare Data Analyst', 115, 116, 'Grace Smith',
       'Neural Network Development', 'AI Researcher', 117,
       'Michael Johnson', 'Big Data Analytics', 118, 'Olivia Davis', 119,
       'William Brown', 120, 121, 'David Lee', 'Image Classification',
       122, 'Sophia Miller', 'SQL Database Design', 123,
       'Cloud Infrastructure Management', 124, 'Emma Clark',
       'iOS App Development', 125, 'Matthew Hall', 126, 127,
       'William Smith', 'Android App Development', 128, 'Emily Johnson',
       129, 'David Brown', 'Enterprise Software Development', 130,
       'Sophia Wilson', 131, 'James Miller', 132, 'Emma Johnson', 133,
       'Matthew Lee', 134, 135, 'Isabella Brown',
       'Web Application Development', 136, 'Elijah Smith', 137,
       'Security Auditing', 138, 139, 'SQL Database Administration', 140,
       'Cloud Solution Architecture', 141,
       'Cross-Platform App Development', 142, 'Reinforcement Learning',
       143, 144, 145, 146, 'Charlotte Davis', 147, 'Joseph Miller', 148,
       'Emma Wilson', 149, 'Oliver Brown', 150, 151, 152, 153, 154, 155,
       156, 'Elijah Davis', 157, 158, 159, 160, 161, 162, 163, 164, 165,
       166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178,
       179, 180], dtype=object)

In [ ]:
#4. Find out total no. Of male and female candidates.

df['Gender'].value_counts()

Gender
Male      102
Female     78
Name: count, dtype: int64

In [ ]:
#5. Identify top - 3 domains in which maixmum students are interested.

df['Interested Domain'].value_counts().head(3)

Interested Domain
Artificial Intelligence    19
Web Development            19
Cybersecurity              18
Name: count, dtype: int64

In [ ]:
#6. Perform statistical analysis of age and GPA.

df['Age'].describe()

count    180.000000
mean      22.116667
std        2.823040
min       20.000000
25%       21.000000
50%       22.000000
75%       22.250000
max       37.000000
Name: Age, dtype: float64

In [ ]:
df['GPA'].describe()

count    180.000000
mean       3.615000
std        0.177341
min        3.200000
25%        3.500000
50%        3.600000
75%        3.700000
max        3.900000
Name: GPA, dtype: float64

In [ ]:
#7. Transform project column by reducing category variations to common names.
mapping = {
    'Strong': 1,
    'Average': 2,
    'Weak': 3,
}

df[['Python', 'Java', 'SQL']] = df[['Python', 'Java', 'SQL']].apply(lambda x: x.map(mapping))

In [ ]:
df['Future Career'].value_counts()

Future Career
Web Developer                   19
Information Security Analyst    17
Mobile App Developer            17
Database Administrator          16
Cloud Solutions Architect       16
Software Engineer               14
Machine Learning Engineer       13
NLP Research Scientist          11
Graphics Programmer              9
Data Scientist                   8
AI Researcher                    6
Data Analyst                     6
Game Developer                   4
UX Designer                      2
Bioinformatician                 2
Healthcare IT Specialist         2
Quantum Computing Researcher     2
Geospatial Analyst               1
Data Privacy Specialist          1
SEO Specialist                   1
Distributed Systems Engineer     1
Blockchain Engineer              1
VR Developer                     1
Digital Forensics Specialist     1
Machine Learning Researcher      1
NLP Engineer                     1
IoT Developer                    1
DevOps Engineer                  1
Computer Vision Engineer         1
Robotics Engineer                1
Embedded Software Engineer       1
Security Analyst                 1
Ethical Hacker                   1
Name: count, dtype: int64

In [ ]:
#8. Identify null values and duplicate values and manage them.

df.isnull().sum()

Student ID           0
Name                 0
Gender               0
Age                  0
GPA                  0
Major                0
Interested Domain    0
Projects             0
Future Career        0
Python               0
SQL                  0
Java                 0
dtype: int64

In [ ]:
#9. Perform gender wise skill analysis.
df.groupby('Gender')[['Python', 'Java', 'SQL']].mean()

          Python      Java       SQL
Gender
Female  2.128205  1.884615  1.692308
Male    1.843137  2.039216  1.862745

In [ ]:
#10. Identify trends of future career and top-10 profile names.

df['Future Career'].value_counts().head(10)

Future Career
Web Developer                   19
Information Security Analyst    17
Mobile App Developer            17
Database Administrator          16
Cloud Solutions Architect       16
Software Engineer               14
Machine Learning Engineer       13
NLP Research Scientist          11
Graphics Programmer              9
Data Scientist                   8
Name: count, dtype: int64